<button
  class="snipcart-checkout group relative flex items-center gap-2 bg-blue-300 px-4 py-6 font-bold text-white transition-colors hover:bg-blue-400 active:bg-blue-800 dark:bg-gray-700 dark:hover:bg-gray-800"
>
  <!-- Cart Icon -->
  <svg
    class="h-5 w-5"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.293 2.293a1 1 0 00.293 1.414L7 17h10M7 13L5.4 5M17 17a2 2 0 11-4 0 2 2 0 014 0zm-6 0a2 2 0 11-4 0 2 2 0 014 0z"
    ></path>
  </svg>

  <!-- Items count badge -->
  <span
    class="snipcart-items-count ml-1 rounded-full bg-white px-2 text-xs font-bold text-blue-300 transition-colors group-hover:text-primary-700 dark:text-gray-700 dark:group-hover:text-gray-800"
  ></span>
</button>
